

<form [formGroup]="forma">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Titulo" value="" formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descripcion</mat-label>
      <textarea rows="3" matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="guardarCambios()">Editar</button>
    <button mat-raised-button color="warn" (click)="cerrarDialogo()">Cancelar</button>

  </form>